body {
  color: white;
  background-color: #272832;
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid white;
  margin-top: 30px;
  margin-bottom: 50px;
}

h1 {
  color: #4fdbde;
  font-size: 60px;
  display: inline-block;
}

img {
  display: inline-block;
}

.suggestions {
  margin-bottom: 50px;
}

.suggestion {
  margin: 10px;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.suggestion .title {
  font-size: 26px;
}

a {
  color: #4fdbde;
}

form h3 {
  color: #4fdbde;
}

#suggestion {
  margin-left: 20px;
}

.comments {
  margin-top: 50px;
  margin-bottom: 50px;
}

.comments h4 {
  margin-bottom: 20px;
}

.comment {
  margin-bottom: 20px;
  margin-left: 20px;
  border-bottom: 1px solid white;
}
